
{{form_start(form)}}
    {{form_row(form.listname, {'label' : 'List name'})}}
    {{form_row(form.description, {'label' : 'Description'})}}
    <div class="form-group  ">
    {{form_label(form.duedate, 'Due date')}}
        <div class="form-group col-md-6">

            <div class="mx-a">
                {{form_label(form.duedate.date, 'Date')}}
                <div class="form-error">
                    {{ form_errors(form.duedate.date) }}
                </div>
                {{ form_widget(form.duedate.date.day, {'attr': {'class': 'custom-select mr-sm-2 col-md-2'}}) }}
                {{ form_widget(form.duedate.date.month, {'attr': {'class': 'custom-select mr-sm-2 col-md-2'}}) }}
                {{ form_widget(form.duedate.date.year, {'attr': {'class': 'custom-select mr-sm-2 col-md-2'}}) }}
            </div>
            <div class="mx-a">
                {{form_label(form.duedate.time, 'Time')}}
                <div class="form-error">
                    {{ form_errors(form.duedate.time) }}
                </div>
                {{ form_widget(form.duedate.time.hour, {'attr': {'class': 'custom-select mr-sm-2 col-md-2'}}) }}
                {{ form_widget(form.duedate.time.minute, {'attr': {'class': 'custom-select mr-sm-2 col-md-2'}}) }}
            </div>
        </div>
        <small>{{ form_help(form.duedate) }}</small>
    </div>
<button type="submit" class="btn btn-success m-2">{{  button }}</button>
{{form_end(form)}}