    <table class="table table-bordered table-responsive-md">
        <thead>
        <tr class="">
            <th scope="col">#</th>
            <th scope="col">List Name</th>
            <th scope="col">Assigned Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for todo in todos %}
            <tr class="">
                <th scope="row">{{i}}</th>
                <td>{{todo.name}}</td>
                <td>{{todo.createdate | date('F j, Y, g:i a')}}</td>
                <td>{{todo.duedate | date('F j, Y, g:i a')}}</td>
                <td class="">
                    <div class="col">
                        <a href="{{ path(context ~ '_details', {'id': todo.id}) }}" class="btn btn-success m-1">
                            View
                        </a>
                        <a href="{{ path(context ~ '_edit', {'id': todo.id}) }}" class="btn btn-warning m-1">
                            <i class="material-icons  text-light">edit</i>
                        </a>
                        <a href="{{ path(context ~ '_delete', {'id': todo.id}) }}" class="btn btn-danger m-1">
                            <i class="material-icons text-light">delete_forever</i>
                        </a>
                    </div>
                </td>
            </tr>
            {% set i = i +1 %}

        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>x</td>
                <td colspan="3" class="text-center" >
                    <a class=" m-1" href="{{ path(context ~ '_create') }}">
                        <i class="material-icons btn btn-success">fiber_new</i>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
