{% extends 'base.html.twig' %}

{% block body %}
    <h1>List Detail</h1>
        <a href="{{ path('list_edit', {'id': todolist.idList}) }}" class="btn btn-primary m-1">Edit list info</a>
        <a href="{{ path('list_delete', {'id': todolist.idList}) }}" class="btn btn-danger m-1">Delete list</a>
    <ul class="list-group">
        {#<li class="list-group-item">Category : {{category}}</li>#}
        <li class="list-group-item"><strong>Create:</strong> {{todolist.createdate | date('F j, Y, g:i a')}}</li>
        <li class="list-group-item"><strong>Description</strong> : {{todolist.description}}</li>
        <li class="list-group-item"><strong>Due:</strong> {{todolist.duedate | date('F j, Y, g:i a')}}</li>
    </ul>

    <div>
        <h2> Tasks</h2>
        <table class="table table-bordered table-responsive-md">
            <thead>
            <tr class="">
                <th>#</th>
                <th>Todo</th>
                <th>Assigned Date</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in todolist.tasks %}
                <tr class="">
                    <td scope="row">{{task.idTask}}</td>
                    <td>{{task.taskname}}</td>
                    <td>{{task.createdate | date('F j, Y, g:i a')}}</td>
                    <td>{{task.duedate | date('F j, Y, g:i a')}}</td>
                    <td class="">
                        <div class="col">
                            <a href="{{ path('task_details', {'id': task.idTask}) }}" class="btn btn-success m-1">
                                <i class="material-icons">remove_red_eye</i>
                            </a>
                            <a href="#" class="btn btn-warning m-1">
                                <i class="material-icons text-warning">edit</i>
                            </a>
                            <a href="#" class="btn btn-danger m-1">
                                <i class="material-icons text-danger">delete_forever</i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}