{% extends 'base.html.twig' %}
{% block body %}
    {#</br></br></br></br>#}
    <table class="table table-bordered table-responsive">
        <thead>
        <tr class="">
            <th>#</th>
            <th>List Name</th>
            <th>Assigned Date</th>
            <th>Due Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr class="">
                <td scope="row">{{todo.idList}}</td>
                <td>{{todo.listname}}</td>
                <td>{{todo.createDate | date('F j, Y, g:i a')}}</td>
                <td>{{todo.duedate | date('F j, Y, g:i a')}}</td>
                <td class="">
                    <div class="col">
                        <a href="{{ path('details', {'id': todo.idList}) }}" class="btn btn-success m-1">View</a>
                        <a href="todos/edit/{{todo.idList}}" class="btn btn-primary m-1">Edit</a>
                        <a href="{{ path('create') }}" class="btn btn-danger m-1">Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
